@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
*{font-family:'Inter',sans-serif;padding:0;margin:0;}    

body::-webkit-scrollbar{
    width:0.25rem; 
}

body::-webkit-scrollbar-thumb{
    background:white;
    opacity:0.65;
    border-radius: 1.5px;
}

body::-webkit-scrollbar-track{
    background:black;
    opacity:0;
}

body,html{
    overflow-x:hidden;
    background-color:#171717;
    background-size: cover;
    height:100%;
}  



body{
    transition:margin-left .5s;
    padding:20px;
    overflow:initial;
  }

  i
  { 
    font-size:25px;
    margin-right:10px;
}
 
.sidenav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a{
    padding:10px 40px 10px 40px;
    text-decoration: none;
    color:white;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color:#DA0037;
}

.sidenav .closebtn{
    position: absolute;
    top:0;
    right:1px;
    font-size: 36px;
    padding:15px;
    margin-left: 50px;
}

.closebtn{
  text-decoration: none;
  color:white;
  transition: 0.15s ease-in-out;
}

.openbtn{
    font-size: 35px;
    cursor: pointer;
    color:#EDEDED;
    background-color: transparent;
    padding:15px;
    border:none;
    transition: 0.2s ease-in-out;
}
	
	li a
	{
		display:block;
		color:#83848a;
		font-size:16px;
    font-weight:600;
		text-decoration:none;
		padding:15px 20px;
	}
	
  li a:hover
	{
	color:#3b7ddd;
  transition:0.3s ease;
	}

  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  .cardBox{
    position: relative;
    width: 80%;
    margin:0 auto;
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
  }

  .card{
    height:80px;
  }

  .cardBox .card{
    justify-content: space-between;
    position: relative;
    border-radius:5px;
    cursor: pointer;
    width:230px;
    box-shadow: 0 0 .875rem 0 rgba(33,37,41,.05);
    padding:30px;
    background-color:#1b1b1b;
  }
  
  .cardBox .card .numbers{
    font-weight: bold;
    font-size: 30px;
    text-align:center;
    padding:10px;
    font-family:'Calibri';
    color:#ffffff;
    }
  
    .cardBox .card  .cardName{
      color: #ffffff;
      font-size:20px;
      text-align: center;
    }

    .cardBox .card .numbers i{
      margin-right: 10px;
    }

  .rowBox{
    display:flex;
    flex-wrap:wrap;
  }

  .cardBox_table{
    position: relative;
    margin:0 auto;
    width: 80%;
    padding: 0px;
    display: grid;
    height:300px;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
  }
  
   .card_table{
    position: relative;
    height:400px;
    width:600px;
  }

.card_table thead th{
    position:sticky;
    top:0;
    z-index:1;
    background-color:#343a40;
    color:#ffffff;
}

table
{  
border-collapse: collapse;
width: 100%;
box-shadow: 0 0 .875rem 0 rgba(33,37,41,.05);
margin: 0 auto;
border-radius:5px;
background-color:#1b1b1b;
}

th,td{padding:15px 25px;text-align:center;}

td{
    border-top: 2px solid black;
}

tr{
    color:#ffffff;
}

tr:first-child th:first-child{
    border-top-left-radius:5px;
}

tr:first-child th:last-child{
    border-top-right-radius:5px;
}

tr:last-child td:first-child{
    border-bottom-left-radius:5px;
}

tr:last-child td:last-child{
    border-bottom-right-radius:5px;
}

.card_table::-webkit-scrollbar{
    width:0.25rem; 
}

.card_table::-webkit-scrollbar-thumb
{
background:#1b1b1b;
opacity:0.65;
border-radius: 1.5px;
}

.card_table::-webkit-scrollbar-track
{
background:white;
opacity:0;
}
